@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-bottom: 0rem;
}
.container {
  background-color: aqua;
  width: 50%;
}
body {
  background-image: url("/images/BG.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-size: 100% 59.8rem;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow-y: scroll;
}
body {
  scrollbar-width: none; /* Firefox /
  -ms-overflow-style: none;  / IE and Edge */
}
.containerc {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  display: flex;
  height: 30%;
}
.containercs {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 3.125rem;
}
.reset {
  display: none;
}
nav div {
  display: flex;
  justify-content: space-between;
  height: 0.586rem;
  width: 98%;
  margin-left: 1%;
  align-items: center;
}
nav div a {
  border-radius: 30px;
  background: var(--osler-gray-white, #fff);
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(47, 60, 51, 0.05);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.2rem;
}
.zalia {
  background: var(--healing-green-50, #84cc16);
  box-shadow: 0rem 1rem 2rem 0rem rgba(132, 204, 22, 0.25);
}
main h1 {
  width: 60%;
  height: 15%;
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.25rem;
  letter-spacing: -0.113rem;
}
.centruote {
  margin-top: 15%;
  margin-left: 10%;
  height: 60%;
}
.zalias {
  color: var(--healing-green-50, #84cc16);
  font-size: 3.75rem;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  line-height: 4.25rem;
  letter-spacing: -0.113rem;
}
.tekstukas {
  color: var(--osler-gray-60, #647067);
  margin-top: 3%;
  width: 60%;
  height: 15%;
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.015rem;
}
.marginas {
  margin-top: 3%;
}
.tai {
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.088rem;
  text-transform: uppercase;
}
.tkaire {
  margin-left: 6%;
}
.download-tekstas {
  color: var(--osler-gray-white, #fff);
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.023rem;
}
.downlaod-buttonas {
  margin-top: 3%;
  display: flex;
  height: 4rem;
  font-family: Nunito;
  padding: 1rem 2rem;
  width: 21.875rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background: var(--osler-gray-80, #2f3c33);
}
.downlaod-buttonas a {
  color: var(--osler-gray-white, #fff);
  text-decoration: none;
}
.telefonas {
  margin-top: 3.125rem;
  display: flex;
  margin-left: 12%;
}
.centr {
  margin-left: 1%;
}

aside div a {
  margin-top: 45%;
  margin-left: 1%;
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.75rem;
  background: var(--osler-gray-10, #f5f5f5);
  padding: 0.75rem;
  gap: 0.625rem;
}
aside div {
      margin-top: 8rem;
  height: 2.5rem;
  margin-bottom: 1.25rem;
}
.qua {
  display: flex;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 8rem 7.375rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.625rem;
  background-color: #2f3c33;
  border-radius: 11.25rem;
}
.qual {
  display: flex;
}
.miss {
  display: flex;
  height: 3rem;
  width: 8.75rem;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.125rem;
  background: var(--healing-green-50, #84cc16);

  color: var(--osler-gray-white, #fff);
  text-align: center;
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02rem;
  margin-top: 1.5rem;
}
.tekstas {
  color: var(--osler-gray-20, #e3e4e3);
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.013rem;
  width: 32.25rem;
  margin-top: 5%;
}

.we {
  color: var(--osler-gray-white, #fff);
  font-family: Nunito;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.09rem;
  width: 32.25rem;
  flex-shrink: 0;
  display: flex;
  align-items: right;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.active {
  order: 1;
  flex: 1 0 100%;
}
.active1 {
  order: 1;
  flex: 1 0 100%;
}
.pard {
  display: inline-flex;
  align-items: flex-start;
  gap: 1.5rem;
  display: flex;
  width: 100%;
  height: 8.5rem;
  padding: 2.875rem 1.611rem 2.904rem 1.563rem;
  justify-content: center;
  align-items: center;
  border-radius: 3.5rem;
  margin-top: 3.125rem;
}
.reset-margin {
  margin: 0;
}
.stats {
  display: column;
  padding: 8rem 7.375rem;
  flex-direction: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 11.25rem;
  background: var(--healing-green-50, #84cc16);
}
.stat {
  color: var(--osler-gray-white, #fff);
  text-align: center;
  font-family: Nunito;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.09rem;
  margin-bottom: 4rem;
}
.boxsrow {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.boxs {
  padding: 3rem;
  gap: 0.313rem;
  border-radius: 4rem;
  background: var(--osler-gray-white, #fff);
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(47, 60, 51, 0.05);
}
.zalistats {
  color: var(--healing-green-50, #84cc16);
  font-family: Nunito;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: -0.135rem;
}
.skaiciaistats {
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: -0.135rem;
  text-align: center;
}
.teks {
  color: var(--osler-gray-80, #2f3c33);
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.045rem;
}
.total {
  display: flex;
  height: 3rem;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.125rem;
  border: 1px solid var(--osler-gray-60, #647067);
}
.total a {
  text-decoration: none;
  color: var(--osler-gray-80, #2f3c33);
}
.serv {
  margin-top: 2.2rem;
  display: flex;
  padding: 8rem 14.75rem;
  flex-direction: column;
  gap: 0.625rem;
  border-radius: 11.25rem;
  background: var(--osler-gray-10, #f5f5f5);
  margin-left: 1%;
  margin-right: 1%;
}
.lyg {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
.sti {
  color: var(--osler-gray-80, #2f3c33);
  text-align: center;
  font-family: Nunito;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.09rem;
}
.sbut1 {
  display: flex;
  height: 5rem;
  padding: 1.5rem 1.5625rem 1.5rem 1.4375rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--healing-green-10, #ecfccb);
}
.skai {
  justify-content: space-between;
  align-items: center;
  width: 95%;
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
}
.skaic {
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.1rem;
  border-radius: 4rem;
  background: var(--osler-gray-white, #fff);
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.kit {
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.0125rem;
  align-self: stretch;
}
.centr {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-direction: flex;
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.bor {
  border-radius: 4rem;
  background: var(--osler-gray-white, #fff);
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(47, 60, 51, 0.05);
  justify-content: center;
  display: flex;
}
.te {
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: -0.045rem;
  align-items: flex-start;
  width: 50rem;
}
.tex {
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.0125rem;
}
.sbut2 {
  display: flex;
  height: 5rem;
  padding: 1.5rem 1.5625rem 1.5rem 1.4375rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--remote-red-10, #ffe4e7);
}
.sbut3 {
  display: flex;
  height: 5rem;
  padding: 1.5rem 1.5625rem 1.5rem 1.4375rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--osler-gray-10, #f5f5f5);
}
.sbut4 {
  display: flex;
  height: 5rem;
  padding: 1.5rem 1.5625rem 1.5rem 1.4375rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--caring-violet-10, #ede9fe);
}
.seeall {
  margin-top: 3rem;
  display: flex;
  height: 4rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1.5rem;
  background: var(--osler-gray-80, #2f3c33);
  align-self: center;
}
.seet {
  color: var(--osler-gray-white, #fff);
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.0225rem;
  text-decoration: none;
}
.b {
  margin-left: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11.25rem;
}
.wid {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}
section div div h2 {
  margin-bottom: 6rem;
  color: var(--osler-gray-80, #2f3c33);
  text-align: center;
  font-family: Nunito;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.25rem;
  letter-spacing: -0.1125rem;
}

.k {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}
.o {
  align-items: center;
}
.d {
  display: flex;
  width: 39.625rem;
  height: 39.75rem;
  justify-content: left;
  align-items: center;
  border-radius: 11.25rem;
}
.feature {
  display: flex;
  height: 3rem;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.125rem;
  border: 1px solid var(--osler-gray-60, #647067);
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02rem;
}
.intelligent {
  margin-top: 2.5rem;
  width: 24.25rem;
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.09rem;
}
.ourp {
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.01125rem;
  width: 24.25rem;
}
.proc {
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.375rem;
  letter-spacing: -0.05625rem;
  align-self: stretch;
}
.proc span {
  color: var(--remote-red-50, #f43f5e);
  font-family: Nunito;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.375rem;
  letter-spacing: -0.05625rem;
  align-self: stretch;
}
.mil {
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.375rem;
  letter-spacing: -0.05625rem;
  align-self: stretch;
}
.mil span {
  color: var(--remote-red-50, #f43f5e);
  font-family: Nunito;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.375rem;
  letter-spacing: -0.05625rem;
  align-self: stretch;
}
.pat {
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0225rem;
  align-self: stretch;
}
.bo {
  display: flex;
  width: 24.25rem;
  align-items: flex-start;
  gap: 1rem;
}
.textd {
  text-decoration: none;
  color: var(--osler-gray-white, #fff);
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.0225rem;
}
.bord {
  margin-top: 2.5rem;
  display: flex;
  height: 4rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1.5rem;
  background: var(--osler-gray-80, #2f3c33);
}
.margin-top {
  margin-top: 8rem;
}
.telehealth {
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.09rem;
  width: 24.25rem;
}
.witho {
  color: var(--osler-gray-60, #647067);
  width: 24.25rem;
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.01125rem;
}
.sp {
  color: var(--osler-gray-70, #48524b);
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.0225rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sk {
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: -0.045rem;
}

.plius {
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: -0.045rem;
}
.cx {
  width: 21.1875rem;
  height: 0.5rem;
  border-radius: 0.1875rem;
  background: var(--healing-green-50, #84cc16);
}
.cc {
  width: 3.06rem;
  display: flex;
  height: 0.5rem;
  align-items: right;
  border-radius: 0.1875rem;
  background: var(--osler-gray-10, #f5f5f5);
}
.just {
  display: flex;
}
.just1:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
}
.sec {
  margin-top: 8rem;
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}
.cont {
  border-radius: 11.25rem;
  background: var(--healing-green-50, #84cc16);
  display: flex;
  padding: 8rem 7.375rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  margin-bottom: 4rem;
}
.topbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.ourb {
  display: flex;
  height: 3rem;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.125rem;
  border: 1px solid var(--osler-gray-white, #fff);
  text-decoration: none;
  color: var(--osler-gray-white, #fff);
  text-align: center;
}
.whyc {
  color: var(--osler-gray-white, #fff);
  text-align: center;
  font-family: Nunito;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.25rem;
  letter-spacing: -0.1125rem;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}
.card-svg {
  display: flex;
  width: 5rem;
  height: 5rem;
  padding: 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--healing-green-10, #ecfccb);
}
.card-svg2 {
  display: flex;
  width: 5rem;
  height: 5rem;
  padding: 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--remote-red-10, #ffe4e7);
}
.card-svg3 {
  display: flex;
  width: 5rem;
  height: 5rem;
  padding: 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--connectivity-blue-10, #eff6ff);
}
.card-svg4 {
  display: flex;
  width: 5rem;
  height: 5rem;
  padding: 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--caring-violet-10, #ede9fe);
}
.card-svg5 {
  display: flex;
  width: 5rem;
  height: 5rem;
  padding: 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--osler-gray-10, #f5f5f5);
}
.card-svg6 {
  display: flex;
  width: 5rem;
  height: 5rem;
  padding: 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--healing-green-10, #ecfccb);
}
.card-title {
  color: var(--osler-gray-90, #1e2721);
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: -0.045rem;
  align-self: stretch;
}
.card-text {
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.0125rem;
  align-self: stretch;
}
.card {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4rem;
  background: var(--osler-gray-white, #fff);
  box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
  width: 22rem;
  height: 19.5rem;
}
.card-body {
  padding: 0rem;
}
.card-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.card-row1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.boxlink {
  display: flex;
  justify-content: center;
}
.boxlink1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--osler-gray-white, #fff);
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.0225rem;
  text-decoration: none;
  height: 4rem;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background: var(--osler-gray-80, #2f3c33);
  width: 14rem;
}
.sec1 {
  display: flex;
  padding: 8rem 8.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}
.topas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 8.8rem 0rem 8.8rem;
  margin-bottom: 3rem;
}
.news {
  color: var(--osler-gray-80, #2f3c33);
  font-family: Nunito;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.09rem;
}
.newsbut {
  display: flex;
  height: 4rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1.5rem;
  background: var(--osler-gray-80, #2f3c33);
  color: var(--osler-gray-white, #fff);
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.0225rem;
  text-decoration: none;
}

.fcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21rem;
  padding: 1rem 1rem 2rem 1rem;
  gap: 2rem;
  flex-shrink: 0;
  border-radius: 3rem;
  background: var(--osler-gray-10, #f5f5f5);
}
.fimg {
  display: flex;
  width: 19rem;
  height: 20.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  border: 1px solid var(--osler-gray-30, #c5c8c6);
  background: var(--osler-gray-white, #fff);
}
.ftcard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  color: var(--osler-gray-60, #647067);
  font-family: Nunito;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}
.ftcard1 {
  border-radius: 0.09375rem;
  background: var(--osler-gray-30, #c5c8c6);
  width: 0.25rem;
  height: 0.25rem;
}
.osl {
  color: var(--osler-gray-80, #2f3c33);
  text-align: center;
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.025rem;
  padding: 1rem;
}
.hbut {
  display: flex;
  height: 2.5rem;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.9375rem;
  border: 1px solid var(--osler-gray-60, #647067);
  color: var(--osler-gray-80, #2f3c33);
  text-align: center;
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02rem;
  text-decoration: none;
}
.tbut {
  display: flex;
  height: 2.5rem;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.9375rem;
  border: 1px solid var(--osler-gray-60, #647067);
  color: var(--osler-gray-80, #2f3c33);
  text-align: center;
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02rem;
  text-decoration: none;
}
.fbuts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.dire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
  padding: 0rem 8rem 3rem 8.875rem;
}
.slbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 8rem 8rem 8.875rem;
}
.slide {
  width: 8.5rem;
  height: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: var(--osler-gray-80, #2f3c33);
}
.slide1 {
  display: flex;
  width: 35.8125rem;
  height: 0.5rem;
  padding-right: 0px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.28125rem;
  background: var(--osler-gray-10, #f5f5f5);
}
.inline {
  display: flex;
  flex-direction: column;
}
.zspa {
  display: flex;
  width: 5rem;
  height: 5rem;
  padding: 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background: var(--healing-green-50, #84cc16);
}

.signup {
  color: #2f3c33;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  border-radius: 1.125rem;
  border: 1px solid var(--osler-gray-80, #2f3c33);
  display: flex;
  height: 3rem;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 10rem;
}
.bookfree {
  color: #2f3c33;
  font-size: 60px;
  font-family: Nunito;
  font-weight: 800;
  line-height: 68px;
  word-wrap: break-word;
}
.booksec {
  width: 100%;
  height: 30%;
  padding-left: 118px;
  padding-right: 118px;
  padding-top: 0px;
  padding-bottom: 64px;
  background: #d9f99d;
  border-radius: 180px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
  padding: 0rem 5.5rem;
}
.phones {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.phone1 {
  position: relative;
}
.phone-con {
  width: 50.21px;
  height: 820.21px;
  left: 0px;
  top: -85px;
  position: absolute;
  transform: rotate(-15deg);
  transform-origin: 0 0;
  box-shadow: 0px 0px 0px rgba(47, 60, 51, 0.01);
}
.phone1-con {
  width: 50.21px;
  height: 820.21px;
  left: 0rem;
  top: -10rem;
  position: absolute;
  transform-origin: 0 0;
  box-shadow: 0px 0px 0px rgba(47, 60, 51, 0.01);
}
.pos1 {
  width: 47rem;
  height: 32.5rem;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  transform: rotate(-15deg);
}
.phone1 {
  width: 281.61px;
  height: 745.43px;
  left: 274.09px;
  top: 36.77px;
  position: left absolute;
}
.phone2-con {
  width: 50.21px;
  height: 20.21px;
  left: 27.4rem;
  top: 8rem;
  position: absolute;
  transform-origin: 0 0;
  box-shadow: 0px 0px 0px rgba(36, 221, 92, 0.2);
}
.phone2 {
  width: 281.61px;
  height: 745.43px;
  left: 274.09px;
  top: 36.77px;
  position: top left;
}
.rot {
  width: 820.21px;
  height: 820.21px;
  left: 0px;
  top: -85px;
  position: absolute;
  transform: rotate(-15deg);
  transform-origin: 0 0;
  box-shadow: 0rem 0rem 0rem rgba(47, 60, 51, 0.01);
}

.flexas {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.tels {
  justify-content: flex-start;
  align-items: center;
  gap: 142px;
  display: inline-flex;
}
.tels1 {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.sec2 {
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}
footer {
  margin-top: 2rem;
  border-radius: 11.25rem 11.25rem 0rem 0rem;
  background: var(--osler-gray-80, #2f3c33);
}
.footeriui {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5.4375rem;
  flex-shrink: 0;
  padding: 1.5rem 2rem;
}
.instain {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
}
.insta {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.5rem;
  border: 1px solid var(--osler-gray-white, #fff);
}
.in {
  border-radius: 1.5rem;
  border: 1px solid var(--osler-gray-white, #fff);
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.rowas {
  display: flex;
  width: 34.375rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.pteksta {
  color: var(--osler-gray-20, #e3e4e3);
  text-align: center;
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.0125rem;
  align-self: stretch;
}
.fconte {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.fp {
  display: inline-flex;
  color: var(--osler-gray-white, #fff);
  text-align: center;
  font-family: Nunito;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  width: 100%;
  justify-content: space-between;
}
.av {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 3rem;
}
.fhome {
  color: var(--osler-gray-white, #fff);
  font-family: Nunito;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.09rem;
}
footer div div ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.48;
  color: var(--osler-gray-white, #fff);
  font-family: Nunito;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -0.09rem;
}
footer div div ul li a {
  text-decoration: none;
  color: var(--osler-gray-white, #fff);
}
footer li a:hover {
  color: red;
}
.spal {
  display: flex;
  height: 5rem;
  padding: 1.5rem 2rem;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 1.875rem;
  background: var(--healing-green-50, #84cc16);
  text-decoration: none;
  color: var(--osler-gray-white, #fff);
  font-family: Nunito;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.0225rem;
  width: 48vw;
}
.rowass {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 1.1%;
}
